.app {
  padding-left: 0;
  padding-bottom: 60px;
  position: relative;
}

.app__content {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 800px;
}

.app__content h2 {
  font-weight: 600;
}

.app__content .container {
  margin-left: 0;
}
