.app {
  padding-left: 0;
  padding-bottom: 60px;
  position: relative;
}

.app__content {
  padding: 60px 80px 15px 15px;
  min-height: 850px;
  padding-left: 60px;
}

.app__content h1 {
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 27.12px;
}

.app__content h2 {
  font-weight: 600;
}

.app__content .container {
  margin-left: 0;
}

.additional-help h4 {
  font-size: 23.63px;
  padding-bottom: 5px;
}

.additional-help__subtitle {
  color: #474747;
  font-size: 19px;
}

@include media-breakpoint-only(md){
  .sidebar {
    position: relative;
    max-width: 100%;
  }

  .nopadding {
   padding: 0 !important;
 }

 .app__content {
   padding: 30px;
   min-height: auto;
   margin: 0 auto;
 }
}
