.call-to-action {
  background-color: #e9ecef;
  padding: 100px 30px 100px 30px;

}

.call-to-action__title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
}

.call-to-action__subtitle {
  color: #6c757d;
  font-size: 1.2rem;
  font-weight: 400;
}
