.call-to-action {
  background-color: $snow-light-blue;

}

.call-to-action__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: $snow-classic-blue;
}

.call-to-action__subtitle {
  color: $snow-light-dark;
  font-size: 1.2rem;
  font-weight: 400;
}
