.filters {
  margin-bottom: 40px;
  margin-top: 20px;
}

.filters__link {
  padding: 5px 30px;
  color: #8c8c8c;
  cursor: pointer;
}

.filters__link {
  padding: 5px 30px;
  color: #8c8c8c;
  cursor: pointer;
}

.filters__link:hover {
  background-color: #959595;
  color: #ffffff !important;
  border-radius: 20px;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.filters__link-active {
  background-color: #1d4cff;
  border-radius: 30px;
  padding: 5px 30px;
  color: #ffffff !important;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.filters__link-active:hover {
  background-color: #1739bb;
}
