/* @define header */
/* TODO: Clean this stylesheet, too many classes are here */

.navbar {
  padding: 0px;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  padding: 10px 0 0 20px;
  margin: 0;
  height: 85px;
  width: 100%;
}

.navbar-brand {
  padding-left: 15px;
}

.header__title {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: -8px;
  text-align: right;
}

.header__logo {
  width: 100px;
  margin-top: -20px;
}

.header__subtitle {
  font-size: 12px;
  font-weight: 600;
  color: #8c8c8c;
  padding: 5px 0 0 0px;
}

.header__hydro {
  color: #1d4cff;
}

.header__account {
  text-align: right;
  margin-right: 35px;
  cursor: pointer;
}

.header__welcome {
  font-family: "Nunito-Bold", sans-serif;
  color: #5f5f5f;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 0;
  margin-left: 30px;
}

.header__faq {
  margin-top: -15px;
}

.header__ein {
  font-family: "Nunito-Bold", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #d0d0d0;
  text-transform: uppercase;
}

.header__identicon-wrapper .identity__identicon {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  margin: 0;
}

.header__account-info-wrapper {
  position: absolute;
  display: inline-block;
  right: 100px;
  min-width: 200px;
}

.fixed-nav {
  position: fixed;
  top: 0;
}

.navbar-light .navbar-toggler {
  margin-right: 30px;
  margin-top: -12px;
}

.navbar .onboardingButton {
  margin-right: 30px;
}

.header__version {
  font-size: 10px;
  color: #333;
  position: fixed;
  top: 13px;
  left: 140px;
}
