.identity {
  background-color: #2452fe !important;
  border: none;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 0;
  border-radius: 0.25rem;
  height: 300px;
}

.identity__title {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.72;
}

.identity__help {
  font-size: 2rem;
  opacity: 0.72;
}

.identity__hydro-id {
  font-size: 1.2rem;
  margin: 0;
}

.identity__ein {
  font-size: 1rem;
  margin: 0;
}

.identity__linked-wallets {
  font-size: 1rem;
  margin: 0;
}

.identity__user-image {
  margin: 0;
  text-align: center;
}

.identity__link {
  color: #2452fe;
  font-size: 4rem;
}

.status {
  background-color: #3a64fe;
  border-radius: 10px;
  padding: 15px;
  min-height:50px;
  margin-left: 25px;
  margin-right: 25px;
}

.status__title {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0px;
}

.status__current {
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  text-align: left;
  opacity: 0.7;
  margin: 0;
}

.status__edit {
  width: 70px;
  height: auto;
  background-color: #2d59fe;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  border: none;
  font-size: 13px;
}

.link {
  background-color: $snow-light-gray;
  border: none;
  color: #3C3C3C;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 0;
  border-radius: 0.25rem;
  height: 300px;
  padding-left: 25px;
}

.link__title {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.72;
  margin-left: -11px;
}

.link__help {
  font-size: 2rem;
  opacity: 0.72;
  color: #2d59fe;
}

.link__input {
  border: 0;
  height: 50px;
  padding: 15px;
}

.link__input::placeholder {
  color: #2d59fe;
}

.linked-address {
  background-color: $snow-light-gray;
  border: none;
}

.linked-address__icon {
  color: #2d59fe;
  font-size: 3rem;
}

.linked-address__date {
  opacity: 0.7;
  font-size: 0.8rem;
  margin: 0;
}


.link-address-card__new-address {
  color: #2d59fe;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.link-address-card__text {
  font-size: 0.85rem;
}

.identity__connected-wallet-title {
  font-size: 19px;
}

.identity__linked-wallet-address {
  font-family: "Nunito-SemiBold", sans-serif;
  font-size: 14.12;
  color: #6b6b6b;
}

.linked-address__date {
  font-family: "Nunito-Regular", sans-serif;
  font-size: 12px;
  color: #6b6b6b;
}

.link-address__helper-text {
  font-size: 12px;
  color: #9e9e9e !important;
  margin-left: 10px;
  margin-top: 10px;
}

.identity__identicon {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  margin: 0;
}
