/**
 * Our main stylesheet
 */

@import './variables.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap';

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// All the stylesheets of our components
@import './fonts.scss';
@import './filters.scss';
@import './onboarding.scss';
@import './header.scss';
@import './dapp-preview.scss';
@import './identity.scss';
@import './wallet.scss';
@import './buy.scss';
@import './sidebar.scss';
@import './categories-menu.scss';
@import './app.scss';
@import './call-to-action.scss';
@import './qa.scss';
@import './faq.scss';
@import './transaction.scss';
@import './footer.scss';
@import './slider.scss';
@import './tooltip.scss';
@import './transaction-button-modal.scss';
@import './remove.scss';
@import './purchase.scss';

body {
  font-family: 'Open Sans';
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

h3 {
  font-size: 16px;
  margin-bottom: 15px;
}

h4 {
  font-size: 12px;
  margin-bottom: 15px;
}

.navbar {
  z-index: 100000;
}

.on-top {
  z-index: 100001;
}

.title {
  margin-bottom: 0;
  text-align: left;
  font-size: 24px;
  font-weight: 400;
}

.subtitle {
  margin-bottom: 0;
  text-align: left;
  font-weight: 200;
  font-size: 14px;
  padding-top: 4px;
  color: #9c9c9c;
}

/**
 * Header
 */
.header__icon {
  font-size: 1.75rem;
}

/**
 * Modals
 */
.modal-dialog {

}

.modal-content {
  border: none;
}

.modal-header {
  border: none;
}

.modal-body {
  border: none;
}

.modal-footer {
  border: none;
}

.modal__close-button {
  color: $snow-white;
  font-size: 1.5rem;
}

.modal-footer__link {
  color: #8caffb;
}

/**
 * Buttons
 */

.btn {
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-white {
  color: #395fff;
  background-color: $snow-white;
  border-color: $snow-white;
}

.btn-outlined {
  color: #395fff;
  background: none;
  border-color: #395fff;
  border-width: 2px;
}

.btn-outlined:hover {
  color: $snow-white;
  background-color: #395fff;
  border-color: #395fff;
}

/**
 * Footer
 */
.footer__link {
  color: $snow-footer-grey;
}

.footer__menu {
  display: -webkit-inline-box;
}

/**
 * Common
 */
.blue-card {
  background-color: #395fff;
  border: none;
  color: $snow-white;
}

.grey-card {
  background-color: $snow-light-gray;
  border: none;
  color: $snow-white;
}

.bg-white {
  background-color: $snow-white;
}

.help {
  cursor: pointer;
}

.modal {
  top: 75px;
}

.submit_card {
  max-width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 30px;
  background-color: #f7f7f7;
  border-radius: 15px;
  display: inline-block;
}

.submit_card .card-header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.submit_card .card-footer {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.submit_card .card-body {
  text-align: center;
  min-height: 180px;
}

.submit_card .card-footer {
  text-align: center;
  padding: 15px;
}

.submit_card button {
  color: #fff;
  background-color: #a9a9a9;
  border-color: #a9a9a9;
}

.submitDapp p {
  padding-bottom: 20px;
}

.submitDapp h1 {
  margin-bottom: 10px;
}

.submitDapp h3 {
  font-size: 20px;
  margin-top: 25px;
}
