/**
 * Our main stylesheet
 */

@import './variables.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap';

// All the stylesheets of our components
@import './fonts.scss';
@import './filters.scss';
@import './onboarding.scss';
@import './header.scss';
@import './dapp-preview.scss';
@import './identity.scss';
@import './wallet.scss';
@import './buy.scss';
@import './sidebar.scss';
@import './categories-menu.scss';

body {
  font-family: 'Open Sans';
}

.title {
  margin-bottom: 0;
  text-align: left;
  font-size: 35px;
  font-weight: 300;
}

.subtitle {
  margin-bottom: 0;
  text-align: left;
  font-weight: 200;
  font-size: 14px;
  padding-top: 4px;
  color: #9c9c9c;
}

/**
 * Header
 */
.header__icon {
  font-size: 1.75rem;
}

/**
 * Modals
 */
.modal-dialog {

}

.modal-content {
  border: none;
}

.modal-header {
  border: none;
}

.modal-body {
  border: none;
}

.modal-footer {
  border: none;
}

.modal__close-button {
  color: $snow-white;
  font-size: 1.5rem;
}

.modal-footer__link {
  color: #8caffb;
}

/**
 * Transaction
 */
.transaction {
  background-color: $snow-light-gray;
  border: none;
}

/**
 * Call to action
 */
.callToAction {
  background-color: $snow-light-blue;
}

/**
 * Buttons
 */
.btn-white {
  color: #395fff;
  background-color: $snow-white;
  border-color: $snow-white;
}

.btn-outlined {
  color: #395fff;
  background: none;
  border-color: #395fff;
}

.btn-outlined:hover {
  color: $snow-white;
  background-color: #395fff;
  border-color: #395fff;
}

/**
 * Footer
 */
.footer__link {
  color: $snow-footer-grey;
}

.footer__menu {
  display: -webkit-inline-box;
}

/**
 * Common
 */
.blue-card {
  background-color: #395fff;
  border: none;
  color: $snow-white;
}

.grey-card {
  background-color: $snow-light-gray;
  border: none;
  color: $snow-white;
}

.bg-white {
  background-color: $snow-white;
}
