/**
 * Overriding Bootstrap variables
 */
$primary: #1d4cff;
$success: #2fd357;

$input-btn-padding-y: 0.4rem;
$input-btn-padding-x: 3rem;

$btn-border-radius: 2rem;
$btn-border-radius-lg: 2rem;
$btn-border-radius-sm: 2rem;

$card-border-width: 0;

/**
 * Custom variables
 */
$snow-classic-blue: #1d4cff;
$snow-focused-blue: #1739bb;
$snow-white: #ffffff;
$snow-light-gray: #f9f9f9;
$snow-light-dark: #212529;

$snow-light-blue: #d6dbfd;

$snow-footer-grey: #8b8b8b;
$snow-grey-dark: #616161;
