.wallet {
  background-color: #2452fe;
  border: none;
  color: $snow-white;
  height: 300px;
}

.wallet__title {
  font-size: 1rem;
  font-weight: 100;
  opacity: 0.72;
}

.wallet__help {
  font-size: 2rem;
  opacity: 0.72;
}

.wallet__balance {
  font-size: 55px;
}

.wallet__hydro {
  opacity: 0.5;
  font-size: 0.7rem;
}

.wallet__usd {
  opacity: 0.5;
}
