/* @define link */

.link {
  background-color: $snow-light-gray;
  border: none;
  color: #3C3C3C;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 0;
  border-radius: 0.25rem;
  height: 300px;
  padding-left: 25px;
}

.link__title {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.72;
  margin-left: -11px;
  margin-bottom: 0;
}

.link__input {
  border: 0;
  height: 50px;
  padding: 15px;
}

.link__input::placeholder {
  color: #2d59fe;
}

.link__helper-text {
  font-size: 12px;
  color: #9e9e9e !important;
  margin-left: 10px;
  margin-top: 10px;
}

.link__new-address {
  color: #2d59fe;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.link__text {
  font-size: 0.85rem;
}
