/* @define wallet */

.wallet__row {
  margin-top: 30px;
}

/**
 * TODO: Check to see if it's safe to delete these classes

.wallet .btn-secondary {
  background-color: #3c65fe;
  border-color: #3c65fe;
  box-shadow: none;
}

.wallet .btn-white {
  background-color: #fff;
  border-color: #fff;
  box-shadow: none;
}

.wallet .btn-white:hover {
  background-color: #3c65fe;
  border-color: #3c65fe;
  box-shadow: none;
}

.wallet .btn-success {
  box-shadow: none;
}
*/
