/* @define call-to-action */

.call-to-action {
  background-color: #f3f3f3;
  padding: 100px 30px 100px 30px;
}

.call-to-action__title {
  font-family: "Nunito", sans-serif;
  font-size: 33.63px;
  color: #345efa;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.call-to-action__subtitle {
  font-family: "Nunito-Regular", sans-serif;
  font-size: 27.12px;
  color: #585858;
  margin-bottom: 30px;
  line-height: 1.2;
}
